.Bottom{
    width: 98%;
    height: 13vh;
    margin: 0vh 1% 0.5vh 1%;
    padding: 0%;
    outline: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.SongInfo, .Volume{
    width: 20%;
    height: 100%;
}

.SongInfo{
    display: flex;
    align-items: center;
}

.SongInfo img{
    height: 90%;
    margin: 5%;
}

.SongInfo h6{
    font-family: "Nunito", sans-serif;
    font-size: 3vh;
}

.MusicPlaying{
    height: 100%;
    width: 60%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.ButtonsSection{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50%;
    margin: 0%;
    padding: 0%;
}

.MiddleButton{
    margin: 0% 1% 0% 1%;
    height: 80%;
    font-size: 100%;
    background-color: #5c1111;
    color: #fff;
    border-radius: 10px;
}

.Shuffle, .Previous, .Next, .Repeat{
    margin: 0% 1% 0% 1%;
    height: 80%;
    font-size: 100%;
    background-color: transparent;
    border: none;
}


.BarSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding: 0%;
}

.BarSection p{
    margin: 0%;
    padding: 0%;
    font-family: "Nunito", sans-serif;
}

.EmptyBar{
    width: 70%;
    margin: 0% 3% 0% 3%;
    height: 15%;
    outline: 1px solid black;
    border-radius: 5px;
    padding: 0%;
}

.FullBar{
    width: 40%;
    background-color: #000;
    height: 100%;
    padding: 0%;
}

.Volume{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.Volume button{
    font-size: 100%;
    margin: 0%;
    padding: 0%;
    color: #000;
    border: none;
    background-color: transparent;
}

.EmptyVolume{
    width: 70%;
    height: 7%;
    margin-left: 2%;
    border-radius: 10px;
    outline: auto;
}

.FullVolume{
    height: 100%;
    background-color: #000;
    width: 30%;
}